<div class="row ml-5 mt-5">
  <div class="col col-md-3 btn-group-vertical">
    <%= link_to Test.model_name.human(count: 0), tests_path, class: 'btn btn-outline-primary btn-lg btn-block' %>
    <%= link_to Badge.model_name.human(count: 0), badges_path, class: 'btn btn-outline-primary btn-lg btn-block' %>
  </div>
</div>