<h2>Прохождения <%= @test.title %></h2>
<ul>
<% @test.results.each do |result| %>
  <% class_name = result.passed? ? "passed" : "failed" %>
  <li><%= link_to "#{result.created_at.strftime '%c'}", result_path(result), class: class_name %></li>
<% end %>
</ul>


<div><%= link_to 'К тестам', tests_path%></div>