$home_color: #22F;
$home_bg_color: #AAA;
$user_color: #242;

h1.home {
  border: 1px solid;
  background: $home_bg_color none;
  font-size: medium;
  color: $home_color;
  width: 10em;
  text-align: center;

  &a:link, a:visited {
    color: $home_color;
    background-color: transparent;
    text-decoration: none;
  }
}

h1.user {
  position: absolute;
  top: 0;
  right: 0;
  font-size: medium;
  color: $user_color;
  width: 20em;
  text-align: center;

  &a:link, a:visited {
    color: $home_color;
    background-color: transparent;
    text-decoration: none;
  }
}