<h2>Тесты</h2>
<br/>
<table>
<tr>
  <th>Тест</th>
  <th>Категория</th>
  <th>Сложность</th>
  <th>Автор</th>
  <th>Количество вопросов</th>
  <th colspan="4">Действия</th>
</tr>
<%= render @tests %>
</table>

<div><%= link_to 'Создать тест', new_test_path%></div>